# Django configuration
SECRET_KEY=django-insecure-qeaxy2guqk519(66uv1n2#*rqcs-$o-oew18x36t)8l7shq^!3
DEBUG=True
ALLOWED_HOSTS=*

# MySQL database configurations
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=root
DB_PASSWORD=abc123
DB_NAME=transitops
